
body{
    margin: 0;
    background-color: $rose50;
    font-family: Young serif;
    display: grid;
    place-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    background-color: $white;
    color: black;
    width: 44rem;
    height: auto;
    border: 1px solid $rose50;
    padding: 1.7rem;
    border-radius: 30px;
    margin-block: 8rem;
}

.image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

h1 {
    text-align: left;
    margin-bottom: 1rem;
    color: $stone900;
}

.description {
    font-family:Outfit ;
    font-size: $font-sm;
    color: $stone600;
}


.values {
    font-family:Outfit ;
    font-size: $font-sm;
    color: $stone600;
    margin-top: 0.8rem;
    margin-bottom: 1.4rem;
}

