/*General styles */

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
}


/*font styles */
@font-face {
    font-family: "Young serif" ;
    src: url("../../fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: "Outfit";
    src: url("../../fonts/outfit/static/Outfit-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Outfit";
    src: url("../../fonts/outfit/static/Outfit-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Outfit";
    src: url("../../fonts/outfit/static/Outfit-Bold.ttf");
    font-weight: 700;
}
